@mixin font-tech {
  font-family: 'Anta', 'Agency FB', 'Segoe UI', system-ui, 'ZCool XiaoWei', sans-serif;
}

@mixin font-ui {
  font-family: 'Overpass', 'Segoe UI', system-ui, 'ZCool XiaoWei', sans-serif;
}

@mixin font-fun {
  font-family: 'Nanum Pen Script', 'Nanum Pen', 'Segoe UI', system-ui, 'ZCool XiaoWei', sans-serif;
}

@mixin font-dev {
  font-family: 'Rajdhani', 'Overpass', 'Agency FB', 'Segoe UI', system-ui, sans-serif;
}
