$col-prot: #ff0090;
$col-deut: #40f190;
$col-trit: #4090f1;

$col-text: white;
$col-text-deut: grey;
$col-card: rgb(black, 20%);
$col-card-hover: rgb(black, 40%);


@mixin font-ui {
  font-family: 'Overpass', 'Segoe UI', system-ui, sans-serif;
}

@mixin font-flavour {
  font-family: 'Nanum Pen Script', 'Segoe UI', system-ui, sans-serif;
}


@mixin card {
  padding: 1.5em;
  background-color: $col-card;
  border-radius: 1rem;
}
