// COLOURS
$col-prot: #ff0090;
$col-deut: #40f190;
$col-trit: #40e0ff;
$col-acc: #c7c7ff;

$col-text: white;
$col-text-deut: rgb(white, 60%);

$col-card: rgb(black, 20%);
$col-card-hover: rgb(black, 50%);

// CONSTANTS
$shear-factor: -12deg;
