@use './globals' as *;


@mixin link {
  display: inline-block;
  position: relative;
  color: $col-prot;
  text-decoration: none;

  transition: color 0.12s ease-out;

  &:after {
    content: '';
    position: absolute;
    bottom: 0.1em;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #40f190;
    transform: scaleX(0);
    transform-origin: middle;
    transition: transform 0.16s ease-out;
  }

  &:hover {
    color: $col-deut;

    &:after {
      transform: scaleX(1);
      transform-origin: middle;
    }
  }

  &:active {
    color: $col-trit;

    &:after {
      background-color: $col-trit;
    }
  }
}
