@use './globals' as *;
@use './fonts' as *;


@mixin link($lesser: false) {
  display: inline-block;
  position: relative;
  color: $col-prot;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    bottom: 0.1em;
    left: 0;
    width: 100%;
    height: 1px;
    background: $col-deut;
    transform: scaleX(0);
    transition: transform 0.16s ease-out;
  }

  &:hover, &:focus-visible {
    color: $col-deut;

    &:after {
      transform: scaleX(100%);
      transform-origin: middle;
      @if $lesser { transform: scaleX(69%); }
    }
  }

  &:active {
    color: $col-trit;

    &::after {
      background: $col-trit;
    }
  }
}

@mixin card {
  background: $col-card;
  backdrop-filter: blur(16px);
}

@mixin shear-card($interactive: false, $glow: false) {
  position: relative;
  
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include card;
    transform: skew($shear-factor);
    transition: #{trans()};
  }

  @if $interactive {
    &::before {
      transition: #{trans()};
    }
    
    &:hover, &:focus-visible, &:active {
      cursor: pointer;
      
      &::before {
        background: $col-card-hover;

        @if $glow {
          border-radius: 0.6em;
          transform: skew(calc($shear-factor * 2 / 3));
          @include focus-glow;
        }
      }
    }
  }
}


@mixin focus-glow {
  outline: none;
  box-shadow: 0 0 12px $col-prot;
}


@function trans()
{
  @return "all 0.1s ease-out";
}
