@use './globals' as *;
@use './fonts' as *;


@mixin link($lesser: false) {
  display: inline-block;
  position: relative;
  color: $col-prot;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    bottom: 0.1em;
    left: 0;
    width: 100%;
    height: 1px;
    background: $col-deut;
    transform: scaleX(0);
    transition: transform 0.16s ease-out;
  }

  &:hover, &:focus-visible {
    cursor: pointer;
    color: $col-deut;

    &:after {
      transform: scaleX(100%);
      transform-origin: middle;
      @if $lesser { transform: scaleX(69%); }
    }
  }

  &:active {
    color: $col-trit;

    &::after {
      background: $col-trit;
    }
  }
}

@mixin card($light: false) {
  background: $col-card;
  @if $light {
    background: $col-card-light;
  }
  backdrop-filter: blur(12px);
}

@mixin shear-card($interactive: false, $glow: false, $light: false) {
  position: relative;
  
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include card($light);
    transform: skew($shear-factor);
    transition: #{trans()};
  }

  @if $interactive {
    &::before {
      transition: #{trans()};
    }
    
    &:hover, &:focus-visible, &:active {
      cursor: pointer;
      
      &::before {
        background: $col-card-hover;
        @if $light {
          background: $col-card-light-hover;
        }

        @if $glow {
          border-radius: 0.6em;
          transform: skew(calc($shear-factor * 2 / 3));
          @include glow();
        }
      }
    }

    @if $glow {
      &:active::before {
        background: $col-card-click;
        @include glow(true);
      }
    }
  }
}

@mixin anim-block {
  &::before {
    transition:
      #{trans()},
      transform 1s cubic-bezier(0.19, 1, 0.22, 1) var(--delay, 0s),
      opacity 1s cubic-bezier(0.19, 1, 0.22, 1) var(--delay, 0s);  // ease-out-exp
  }
  
  &:not(.intersected)::before {
    transform: skew($shear-factor) scale(90%);
    opacity: 0;
  }

  &.intersected::before {
    opacity: 1;
  }
}


@mixin glow($active: false) {
  outline: none;

  @if $active {
    box-shadow: 0 0 12px $col-quat;
  } @else {
    box-shadow: 0 0 12px $col-prot;
  }
}


@mixin separator {
  span.separator {
    padding-bottom: 0.1em;
    @include font-fun;
    color: $col-text-deut;
    font-size: 125%;

    &:last-child {
      display: none;
    }
  }
}


@function trans()
{
  @return 'all 0.12s ease-out';
}

@function trans-exp()
{
  @return '1s cubic-bezier(0.19, 1, 0.22, 1) var(--delay, 0s)';
}
