@use './src/styles/globals' as *;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 100%;
}

html {
  background-color: black;
  overflow-x: hidden;

  scrollbar-color: $col-prot black;
}
