@use './src/styles/globals' as *;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  @include font-ui;
  color: white;
}

html {
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}


::selection {
  color: white !important;
  background-color: $col-prot !important;
}


.word {
  font-size: 2rem;
}
