@use './src/styles/globals' as *;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  @include font-ui;
  font-size: 110%;
  color: white;
}

html {
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}


code {
  font-family: 'Fira Mono', 'Roboto Mono', 'Consolas', monospace;
  color: #c7c7ff;
}


::selection {
  color: white !important;
  background-color: $col-prot !important;
}


.centre { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
