@mixin font-head {
  font-family: 'Shadows Into Light', system-ui, sans-serif;
}

@mixin font-body {
  font-family: 'Shadows Into Light', system-ui, sans-serif;
}

@mixin font-fun {
  font-family: 'Shadows Into Light', system-ui, sans-serif;
}

@mixin font-flavour {
  font-family: 'Abel', 'Segoe UI', system-ui, sans-serif;
}

@mixin font-tech {
  font-family: 'Abel', 'Segoe UI', system-ui, sans-serif;
}
